body{
  background: #F3F3F3;
}
header{
  text-align: center;
  margin-top: 2%;
}

.month{
  color: #444444;
  width: 1%;
  height: 40px;
  border-right-style: solid;
  border-right-width: 2px;
  border-color: #6D6D6D;
}

#day td:first-child{
  border-style: none;
}
#day td{
  color: #444444;
  border-top-style: solid;
  border-top-width: 2px;
  border-color: #6D6D6D;
  padding-top: 10px;
  text-align: center;
  width: 20px;
}

table :not(.tinfo){
  border-width: 1px 1px 0 0;
}

/*table td:not(.tinfo):hover{
  box-shadow: #5A5050 0px 0px 10px 0px;
  transition: 1.5s;
}*/

table{
  margin: 36px auto;
  width: 1080px;
}

#tip{
  background: black;
  color: white;
  width:86px;
  height:56px;
  border-radius: 8px;
  opacity: 0.5;
  word-wrap: break-word;
  font-size: 12px;
  padding: 16px;
  text-align: center;
  position: fixed;
  display: none;
  transition: 0.5s;
}
