body > table > tbody > tr:nth-child(9) > td:nth-child(4){background-color: rgba(62,172,168,0.3246);}
body > table > tbody > tr:nth-child(10) > td:nth-child(30){background-color: rgba(62,172,168,0.5344);}
body > table > tbody > tr:nth-child(10) > td:nth-child(31){background-color: rgba(62,172,168,0.3906);}
body > table > tbody > tr:nth-child(9) > td:nth-child(2){background-color: rgba(62,172,168,0.9064);}
body > table > tbody > tr:nth-child(10) > td:nth-child(32){background-color: rgba(62,172,168,0.4674);}
body > table > tbody > tr:nth-child(9) > td:nth-child(3){background-color: rgba(62,172,168,0.5314);}
